html {
    --bck-color: #F7F7F7;
    --ft-color: #2D3142;
    --form-control: #dee3e2;
    /* --table-color: #2D3142; */
    --table-color: black;
    --modal-background: #F7F7F7;
    --close-xbox: #2D3142;
    --table-hover: black;
    --table-hover-color: rgb(65, 57, 57);
    --table-hover-background-color: rgba(161, 203, 250, 0.527);
    --btn-light-background-color: #f7f7f7;
    --btn-light-color: black;
    /*--bckfooter-color:#dbdfe0;*/
    --bckfooter-color: #BDEBEB;
}

html.dark {
    /* --bck-color: #4c5f7a; */
    /* --bck-color: linear-gradient(to bottom, #614385, #5c4c8b, #57548f, #535c93, #516395); */
    /* --bck-color: linear-gradient(to right top, #1f1c2c, #393549, #555168, #736e89, #928dab); */
    --bck-color: #2D3142;
    --ft-color: white;
    --form-control: #F3ECFF;
    --table-color: white;
    --modal-background: #2D3142;
    --close-xbox: white;
    --table-hover: white;
    --table-hover-color: rgb(248, 245, 245);
    --table-hover-background-color: rgba(52, 71, 88, 0.966);
    --btn-light-background-color: #2d3142;
    --btn-light-color: rgb(75, 73, 73);
    --bckfooter-color: #BCBFBF;
}

body {
    /* margin: .5em; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: var(--bck-color);
    color: var(--ft-color);
    transition: color 1.5s ease-out;
    transition: background 1s ease-in-out;
}

.navbar {
    /* background-color: red;
    background-color: #D1D5C6;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    opacity: .8; */
    /* box-shadow: 5px 5px 10px; */
    background-color: transparent;
    /* background-image: linear-gradient(315deg, #b8c6db18 0%, #f5f7fa 74%); */
    padding-left: 9%;
    padding-right: 9%;
    
}

.task-planner-icon {
    margin-right: 10px;
    margin-top: 10px;
    width: 64px;
    height: 64px;
}

.task-planner-title {
    margin-top: 10px;
    height: 32px;
}

.checkbox-control {
    float: right;
}

.clear-form-on-submit {
    /* float: right; */
}

.form-check-label {
    float: left;
    font-style: italic;
    opacity: .75;
}

#edit-task {
    font-size: 2.5vw;
}

#form-validate-task-description {
    height: 110px;
}

#modal-validate-task-description {
    height: 110px;
}

.container { 
     width: 80%; 
} 

.form-control {
    background-color: var(--form-control);
    border-color: turquoise;
}

/* .task-container { */
/*     width: 80%; */
/*     height: 100px; */
/* } */

/* .layout-container { */
/*     margin-left: 10vw; */
/*     height: 800px; */
/*     overflow: auto; */
/* } */
/*  */

.btn {
    float: right;
    border-radius: 1.5rem;
}

.task-list {
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 5px;
    display: none;
    transition: display 2s ease-in-out;
}

.board-heading {
    padding-top: 10px;
    
}

/* #table-data table { */
/*     width: 100vh; */
/* } */
/*  */
.table {
    margin: 0;
    padding: 0;
    width: 98vw;
    /* border-collapse: separate; */
    margin-left: auto;
    margin-right: auto;
    /*table-layout: fixed;*/
    border-spacing: 10px 10px;
    box-shadow: 5px 10px 18px #888888;
    /* border-bottom-color: #adff2f; */
    color: var(--table-color);
    /*background-color: #DEE2DE;*/

}

/* th.task-name { */
/*     width: 20% */
/* } */
/*  */
/* th.task-description { */
/*     width: 30% */
/* } */
/*  */
/* th.task-assignee { */
/*     width: 12% */
/* } */
/*  */
/* th.task-dueDate { */
/*     width: 10% */
/* } */
/*  */
/* th.task-status { */
/*     width: 10% */
/* } */
/*  */
/* th.task-priority { */
/*     width: 10% */
/* } */

.table-hover tbody tr:hover {
    color: var(--table-hover-color);
    background-color: var(--table-hover-background-color);
}


/* .tr:hover { */


/* color: var(--table-hover); */


/* color: white; */


/* } */

tr {
    border-bottom: 2px solid #7AD5E8;
    border-width: 2px;
    border-radius: 15px;
    /* opacity: .75; */
}

#clickable {
    cursor: pointer
}


/* overide bootstrap btn-outline-success */

.btn-outline-success {
    /* border-color: #28a745;  */
    border-color: transparent;
}


/* overide bootstrap btn-outline-danger */

.btn-outline-danger {
    /* border-color: #28a745;  */
    border-color: transparent;
}


/* overide bootstrap btn-outline-primary*/

.btn-outline-primary {
    /* border-color: #28a745;  */
    border-color: transparent;
}

.btn-space { 
   margin: 50px; 
} 

.modal-content {
    background: var(--modal-background);
    border-radius: 15px;
}

.close-x {
    color: var(--close-xbox)
}

.fa-arrows-alt-v {
    color: rgba(255, 68, 0, 0.753);
}

.form-label {
    font-weight: bold;
    /* text-shadow: 2px 2px 15px grey; */
    /* text-shadow: 1px 2px 10px rgb(51, 23, 1); */
}

.modal-footer {
    border-top: transparent;
}

.modal-header {
    border-bottom: transparent;
}

.add-task-btn {
    width: 100%;
}

.btn-light {
    background-color: var(--btn-light-background-color);
    color: var(--btn-light-color);
    border-color: var(--btn-light-background-color);
}

.footer {
    margin-top: 5%;
    padding-top: 0.8%;
    padding-bottom: 0;
    height: 50px;
    text-align: center;
    font-size: 15px;
    /* background-color: #dbdfe0;  */
    background-color: var(--bckfooter-color);
}

